<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome All</title>
<script type="text/javascript" th:src="@{Myjs.js}"></script>
<link th:href="@{MyCss.css}" rel="stylesheet"></link>
<style type="text/css" >
div{          /* This is embeded CSS*/
    color: blue;
    background-color: #00FFFF;
}
 
</style>
<script type="text/javascript">
    document.write("This is using embeded JavaScript");
    showAlert();
</script>
</head>
<body>
 This is my same html page using microservice
 <h2>This is heading2</h2>
 <strong>this is strong</strong>
 <p>This is my Paragraph. This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.</p>
<div style="color:#9400D3;">This is under a division using Inline  CSS</div>
<div>Thankyou!</div>
</body>
</html>